/* css reset */ 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* main content */
body {
	font-family: "Work Sans", sans-serif;
}
nav {
	box-shadow: 0px 0px 3px 0px #888888;
	z-index: 1;
}
#theNav #navbarMain .active a::hover,
#theNav #navbarMain .active a::after {
	border-bottom: 5px solid ghostwhite;
	bottom: -10px;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
}
#nav-name, #navbarItems {
	font-family: "Azeret Mono", monospace;
}
#landing {
	background-image: url("../images/landing.jpg");
	position: absolute;
	background-repeat: no-repeat;
	min-height: 95vh;
	background-size: 100%;
	background-position: center;
	z-index: 3;
}
#landing-arrow {
	color: indianred;
	text-align: center;
	font-size: 60px;
}
#myNav {
	z-index: 1;
}
.front-bg > a {
	text-decoration: none;
}
.front-bg {
	background: rgba(255,255,255,.75);
	height: 95vh;
	position: relative;
	color: black;
}
.landing-container {
	display: block;
	position: relative;
	height: 50vh;
	z-index: 2;
}
.landing-title {
	font-weight: bolder;
	font-size: 5rem;
}
.landing-subtitle {
	font-weight: lighter;
	font-size: 2.5rem;
}